* {
    margin: 0;
    padding: 0;
}
$salsaFont: salsa;
// Brand Colors
$whiteColor: #ffffff;
$blackColor: #000000;
$greyColor: #E8E8E8;
.navbar {
    z-index: 9999;
    background-color: $blackColor;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 1rem;
    .navbar__logo {
        width: 9rem;
    }
    .navbar__links {
        display: none;
    }
    .navbar__burger {
        margin-top: 1rem;
    }
}
.navbarmenu {
    z-index: 9998;
    transform: translateY(0);
    transition: .3s;
    position: fixed;
    width: 100%;
    height: 40vh;
    background-color: $blackColor;
    .navbarmenu__list {
        a {
            color: $whiteColor;
            font-size: 2.5rem;
            text-decoration: none;
            text-transform: uppercase;
        }
        li {
            text-align: center;
            line-height: 2;
        }
    }
}
.navbarmenu__close {
    transform: translateY(-40rem);
}
.fa-solid {
    color: $whiteColor;
    font-size: 4rem;
}
.imgtest {
    width: 100%;
}
.bottomfooter {
    background-color: $blackColor;
    .bottomfooter__copyright {
        color: $whiteColor;
        font-size: 1.5rem;
        text-align: center;
        padding: .5rem;
    }
}