* {
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: black;
    padding: 1rem;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.navbar__logo {
    width: 9rem;
}
.navbar__links {
    display: none;
}
.navbar__burger{
    margin-top: 2rem;
}
.navbar__burger div {
    width: 3.5rem;
    height: .5rem;
    background-color: white;
    margin: .6rem 3rem;
}
.burger__open div{
    
}